<ion-view view-title="Activation">
  <ion-content class="padding">

    <div class="padding">
      <p>An activation code has been sent to your @mac email. Please enter it here to continue setting up your profile.</p>
    </div>

    <div class="list">
      <label class="item item-input">
        <span class="input-label">Activation Code:</span>
        <input type="number" ng-model="code">
      </label>
    </div>

    <div class="padding text-center">
      <button class="button button-block button-positive" ng-click="enterActivation(code)">
        Submit
      </button>
    </div>
  </ion-content>
</ion-view>


